#email {
    border-top: 1px solid #d1d1d1;
    padding-top: 30px;
}

.toast {
  border: 1px solid lightgrey;
  padding:20px;
  border-radius:8px;
  box-shadow: 10px 5px 5px #ebebeb;
  background-color: #f8f8f8;
}

.toast:hover {
  background-color: #ebebeb;
}

#footer {
    text-align: center; /* Центруємо блок */
}

#footer.container {
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  padding-top: 10px;
  padding-bottom: 40px;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
}

.text-block {
    display: flex;
    justify-content: center; /* Центруємо елементи */
    gap: 50px; /* Відстань між посиланнями */
}
