.plgrph {
    border-top: 1px solid #d1d1d1;
    padding-top: 30px;
}

.toast {
  border: 1px solid lightgrey;
  padding:20px;
  border-radius:8px;
  box-shadow: 10px 5px 5px #ebebeb;
  background-color: #f8f8f8;
}

.toast:hover {
  background-color: #ebebeb;
}
