---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
eleventyAllCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for page in collections.all %}
{%- if not page.data.eleventyExcludeFromCollections and page.url %}
  <url>
    <loc>https://plgrph.com{{ page.url }}</loc>
{%- if page.data.date %}
    <lastmod>{{ page.data.date | isoDate }}</lastmod>
{%- endif %}
  </url>
{%- endif %}
{%- endfor %}
  <url>
    <loc>https://plgrph.com/ps/index.html</loc>
  </url>
  <url>
    <loc>https://plgrph.com/ps/en/index.html</loc>
  </url>
  <url>
    <loc>https://plgrph.com/ps/es/index.html</loc>
  </url>
  <url>
    <loc>https://plgrph.com/ps/info.html</loc>
  </url>
  <url>
    <loc>https://plgrph.com/ps/en/info.html</loc>
  </url>
  <url>
    <loc>https://plgrph.com/ps/es/info.html</loc>
  </url>
  <url>
    <loc>https://plgrph.com/ps/pr/index.html</loc>
  </url>
  <url>
    <loc>https://plgrph.com/ps/pr/en/index.html</loc>
  </url>
  <url>
    <loc>https://plgrph.com/ps/pr/es/index.html</loc>
  </url>
</urlset>
